* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Sakkal";
    src: url(./font/majalla.woff) format(woff);
    src: url(./font/majallab.woff) format(woff);
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr 3fr 2fr;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    justify-items: center;
    padding: 1rem;
    gap: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 19rem;
    height: 19rem;
    gap: 10px;
}

.mark {
    background-color: white;
    border-radius: 20%;
    background-color: #3882F6;
}

.heading {
    font-size: 3rem;
    font-family: "Sakkal", serif;
}

.btn {
    display: flex;
    gap: 1rem;
}

.btn > *{
    height: 2.8rem;
    width: 9rem;
    border-radius: 10px;
    border: none;
    align-self: center;
    color: white;
    font-family: "Sakkal", serif;
    font-size: 1.5rem;
}

.start {
    background-color: green;
}

.reset {
    background-color: red;
}

.displaybox {
    font-size: 1.5rem;
    font-family: "Sakkal", serif;
}
